.div_stalk {
	width: 512px;
	max-width: 100%;
	height: 32px;
	position: relative;
}

.div_stalk img {
	max-width: 14.2%;
	height: auto;
}

.stalk_1 {
	left: 0;
	position: absolute;
}

.stalk_2 {
	left: 14.2%;
	position: absolute;
}

.stalk_3 {
	left: 28.4%;
	position: absolute;
}

.stalk_4 {
	left: 42.6%;
	position: absolute;
}

.stalk_5 {
	left: 56.8%;
	position: absolute;
}

.stalk_6 {
	left: 71%;
	position: absolute;
}

.stalk_7 {
	left: 85.2%;
	position: absolute;
}
